<!DOCTYPE html>
<html lang="CN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href="/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.offcanvas.min.css">
  <script language="JavaScript" src="/javascripts/jquery-2.1.1.min.js"></script>
  <script language="JavaScript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script language="JavaScript" src="/javascripts/bootstrap.offcanvas.min.js"></script>
</head>
<body>
<%- include navigation.ejs %>