<%- include header.ejs %>
<div class="table-responsive">
  <table class="table">
	<thead>
	<tr>
	  <th>个人信息</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	  <td class="label-danger">用户名:</td>
	  <td><%= user.username %></td>
	</tr>
	</tbody>
  </table>
</div>
<%- include footer.ejs %>